 *{
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif, Times, serif, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    transition: all 0.2s ease;
    
}

/* ------------ heading */
.container{
    color:rgb(255, 255, 255);
    margin:auto;
    margin-top: 50px;
    background-image:linear-gradient(to right, rgb(8, 8, 8), rgb(36, 19, 82));
    width:500px;
    min-height: 90vh;
    overflow: hidden;
}
h1{
    font-size: 27px;
    margin:30px auto;
    text-align: center;
    width:100%;
    border-bottom:3px solid rgb(255, 255, 255);
}
h2{
    font-size: 22px;
    margin:10px auto 5px;
    text-align: center;
    width:100%;
}

/* -------------- input bar button */

.todo-add{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: center;    
}
.todo-input, .todo-button{
    padding: 20px;
    
}
.todo-input{
    border-radius: 20px;
    margin-left:25px;
    margin-bottom: 10px;
    width:80%;
    font-size: 25px;
    background-color: aliceblue;
}
.todo-button{
    border-radius: 20px;
    width:50%;
    background-color:rgb(200, 245, 200);
    font-size: larger;
    font-weight: 1200;
    margin-left:120px;
}
.todo-button:hover{
    background-color: lightgreen;
} 
/* list ul,li */

.ulList{
    padding:0;
}
.liList{
    width:80%;
    background-color: aliceblue;
    list-style-type: none;
    color:black;
    margin:10px auto 20px;
    padding:10px;
    border-radius: 20px;
    position: relative;
}
.liList span{
    font-size: 25px;
}

/* clear btn */
#clearBtn{
    background-color: coral;
    color: white;
    padding:15px 20px;
    display:block;
    margin:50px auto;
    font-weight: bolder;
}
#clearBtn:hover{
    background-color: rgb(237, 223, 27);
    color:black;
}
.icons2{
font-size: 30px;
color:red;
position: absolute;
right: 10px;
top: 8px;
}
.icons1{
    color: rgb(7, 161, 41);
    font-size: 25px;
    position: absolute;
    right: 50px;
    top: 10px;
}
.ibtn{
    background-color: white;
    border: none; 
    /* float:right; */
    display: inline-block;  
}
#icon-bar{
    background-color: white;
}
/* --------- */
.check{
    text-decoration: line-through;
    background-color: coral;
}
.notcheck{
    text-decoration: none;
}